// @import '../../styles/abstracts/variables.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 3rem;
  padding: 0 10px;
  // border: 2px solid $button-color-border;
  border-radius: 5px;
  cursor: pointer;

  // font-size: $button-font-size;
  text-align: center;
  text-decoration: none;
  // color: $button-color-text;
  background: transparent;
  transition: all 0.5s;

  // @media (hover: hover) {
  //   &:hover {
      // color: $button-color-text-hover;
      // border-color: $button-color-border-hover;
      // background: $button-color-background-hover;
  //   }
  // }

  &:active {
    transform: scale(0.95);
  }
}

.button_disabled {
  // color: $button-disabled-color-text;
  // border-color: $button-disabled-color-border;
  background: transparent;
  pointer-events: none;
}