@import './src/style/helper.scss';

.registrationView {
  text-align: center;

  &__form {
    margin: 1rem;
    @include flex(space-around, start);
    flex-wrap: wrap;
    background-color: transparentize($color-brand-secondary, 0.4);
  }

  &__mainInputs {
    margin: 1rem;
  }

  &__label {
    margin: 1rem;
    text-align: center;
  }

  &__button {
    width: 100%;
    @include flex(center);
  }
}
