@import './src/style/helper.scss';

.registrationView {
  text-align: center;

  &__tittle {
    margin: clamp(5px, 1rem, 20px) auto;
  }

  &__inputsGroup {
    margin: 1rem;
    padding: clamp(2px, 1rem, 15px);
    text-align: center;
    @include border();
    border-radius: 2px;
    background-color: transparentize($color-page-background-secondary, 0.8);
  }

  &__checkValidity {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    @include flex(center, center);
    font-size: 3rem;
    background-color: transparentize($color-brand-primary, 0.5);
  }

  &__description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  &__form {
    margin: 1rem;
    @include flex(space-around, start);
    flex-wrap: wrap;
  }

  &__mainInputs {
    margin: 1rem;
    padding: clamp(2px, 1rem, 15px);
    text-align: center;
    @include border();
    border-radius: 2px;
  }

  &__buttonWrap {
    width: 100%;
  }

  &__button {
    width: 40%;
    padding: clamp(2px, 1vmin, 8px) clamp(2px, 1.5vmin, 16px);
    background-color: transparentize($color-brand-primary, 0.2);
  }

  &__buttonAddAdsress {
    width: min(40% - 1rem, 40% - 1rem);
    padding: clamp(2px, 1vmin, 8px) clamp(2px, 1.5vmin, 16px);
    background-color: transparentize($color-brand-primary, 0.2);
  }

  &__defaultSelect {
    width: 80%;
    padding: clamp(2px, 1vmin, 8px) clamp(2px, 1.5vmin, 16px);
    border-radius: 2px;
    background-color: transparentize($color-brand-primary, 0.2);

    &_active {
      background-color: $color-brand-primary;
    }
  }
}
