//  /* Base Colors */
$color-brand-primary: rgba(166, 38, 38, 1);
$color-brand-secondary: rgba(177, 177, 177, 1);
// в макете использован как заглушка вместо картинки игры, пока та грузится, так же можно использовать как background в случае если на черном какой-то блок не очень или для общего фона использована картинка, и плохо видно элемент(а может и не стоит))

$color-text-primary: rgba(2255, 255, 255, 1);
$color-text-secondary: rgba(157, 161, 160, 1);
// использован в макете для ссылок. Я бы порекомендовал его использовать и для изменения цвета лого(корзины, юзера), а то они никак в макете не реагируют на hover.

$color-page-background: rgba(0, 0, 0, 1);
