// @import '../../../styles/abstracts/variables.scss';
@import './src/style/helper.scss';

.login-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
  font-family: 'Karla', sans-serif;
  @include border();

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.registration-field {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 1rem 0;
  @include border();
  padding: 1rem;
  background-color: transparentize($color-page-background-secondary, 0.8);

  @media (max-width: 500px) {
    width: 90%;
  }
}

.login-title,
.registration-field__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.login-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: gray;
  margin: 0.3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 250px;
  width: min(90%, 400px);
  margin: 1rem 0;
  background-color: transparentize($color-page-background-secondary, 0.8);
  @include border();
  padding: 1rem;

  &__show-password {
    display: flex;
    justify-content: center;
    width: 15%;
  }

  &__field {
    font-family: 'Karla', sans-serif;
    width: 92%;
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 0.8rem;
    border-radius: 3px;
    @include border();
  }

  &__field:invalid {
    border: 0.1px solid rgb(207, 90, 90);
  }
}

.password-block {
  width: 100%;
  display: flex;
  gap: 1px;
}

.login-view .button {
  font-family: 'Karla', sans-serif;
  width: 99%;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 0.1rem;
  cursor: pointer;
  background-color: transparentize($color-brand-primary, 0.2);
}

.login-view .button:hover {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.login-view .login-form__show-password {
  width: 18%;
}

// .login-form__field {
//   font-family: 'Karla', sans-serif;
//   width: 85%;
//   padding: 0.5rem;
//   border-radius: 3px;
//   @include border();
// }

// .field:invalid {
//   border: 0.1px solid rgb(207, 90, 90);
// }

// .field:valid {
//   border: 0.1px solid rgb(69, 150, 69);
// }

// .disabled {
//   background-color: gray;
//   color: #a8a8a8;
//   cursor: none;
//   pointer-events: none;
// }
