@import '../../../style/helper.scss';

.link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 4rem;
  padding: clamp(2px, 1vmin, 8px) clamp(2px, 1.5vmin, 16px);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: $color-text-primary;
  background-color: $color-brand-primary;

  box-shadow:
    0 4px 4px transparentize($color-page-background, 0.25),
    0 2px 3px transparentize($color-page-background, 0.5);
  transition-property: color, background-color, transform, box-shadow;
  transition-duration: 0.05s;
  transition-timing-function: ease-out;

  @media (hover: hover) {
    &:hover {
      background-color: transparentize($color-brand-primary, 0.1);
    }
  }

  &:active {
    transform: translate(-2px, 2px);
    background-color: transparentize($color-brand-primary, 0.5);
    box-shadow:
      0 4px 4px transparentize($color-page-background, 0.25),
      0 2px 3px transparentize($color-page-background, 0.5);
  }
}

.link-button_disabled {
  color: $color-text-secondary;
  border-color: $color-text-dark;
  background: transparent;
  pointer-events: none;
}

.selected {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  background-color: white;
  color: black;
}

.link-button_hide,
.hide {
  display: none;
}

.show {
  display: block;
}
