// @import '../../styles/abstracts/variables.scss';
@import '../../../style/helper.scss';

.link-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2rem;
  padding: 0 10px;
  border: 2px solid lightblue;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: blue;
  background: transparent;
  transition: all 0.5s;

  @media (hover: hover) {
    &:hover {
      color: darkblue;
      border-color: darkblue;
      background: lightblue;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.link-button_disabled {
  color: $color-text-secondary;
  border-color: $color-text-dark;
  background: transparent;
  pointer-events: none;
}

.selected {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
  background-color: white;
  color: black;
}

.hide {
  display: none;
}

.show {
  display: block;
}
