@import '../../../../../../style/helper';

.password-changer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include flex(center, center);
  z-index: 1;
  background-color: transparentize($color-page-background, 0.1);
}
