@import 'base/fonts/karla.scss';
@import 'base/fonts/oswald.scss';
@import 'base/fonts/open-sans.css';
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans/open-sans-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/karla/karla-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-size: 10px; //добавил root значение для удобного использования rem
}

body {
  font-size: 50px;
  font-family: 'Open Sans';
  margin: 0;
}

/**
Порядок логически связанных свойств должен быть сгруппирован следующим образом:

Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное
 */
