/**
этот файл нужно будет подкючить к самому первому элементу
 */
@import 'base/fonts/karla.css';
@import 'base/fonts/oswald.css';
@import 'base/fonts/open-sans.css';
@import 'helper'; // вот в этот файлик подлючайте везде где нужны глобальные переменные, миксины и т.д.

html {
  font-size: clamp(10px, 2vmin, 30px);
  //адаптивный размер шрифта, он будет всегда высчитываться от минимальной стороны экрана, но при этом никогда не будет меньше 10px и больше 30px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-text-primary;
  background-color: $color-page-background;
  //@import 'helper.scss'; т.к. я подключил сюда этот файл, то я могу из него использовать переменные;
}

// т.к. это должно быть одинаково для всех заголовков, и это для всего проекта, то удобнее задать это через тэги
// в остальных случаях останется только позиционировать заголовки (размеры относительно основного текста дефолтные)
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; // сам блок не будет себя позиционировать
  font-family: 'Karla', sans-serif;
}
// сбрасывать какие-то стили пока не вижу смысла, т.к. мы работаем под один браузер, попадать в пиксели нам не надо
// скорее удобнее будет подкорректировать непосредственно в месте использования

.hide {
  display: none;
}

.show {
  display: block;
}
