/* @import '../../../../style/abstract/variables/colors.scss'; */
/* @import './src/style/helper.scss'; */

.overlay_product-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(41, 41, 41, 0.842);
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  z-index: 2;
}

.product-modal {
  padding: 5rem;
  background-color: transparent;
  position: absolute;
  overflow: auto;
  z-index: 4;
  width: 85%;
}

@media screen and (max-width: 800px) {
  .product-modal {
    width: 100%;
  }
}

/* не подтянулась переменная transparentize($color-brand-primary, 0.2) */
.product-modal__close-icon {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid rgba(166, 38, 38, 1);
  border-radius: 10rem;
  background-image: url('./img/free-icon-close.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 10%;
  top: 100px;
  cursor: pointer;
}

.product-modal .product-modal__product-card {
  background-color: rgba(41, 41, 41, 0.842);
  border-radius: 9px;
  width: 100%;
  height: 100%;
  display: flex;
}

.product-modal__content {
  margin: 0 auto;
  width: 40%;
  height: 90vh;
}

@media screen and (max-width: 1200px) {
  .product-modal__content {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .product-modal__content {
    width: 80%;
  }
}

.product-modal-swiper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
}
