.overlay_product-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(41, 41, 41, 0.842);
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  z-index: 2;
}

.product-modal {
  padding: 5rem;
  background-color: transparent;
  position: absolute;
  overflow: auto;
  z-index: 4;
  /* height: 80%; */
  width: 50%;
}
.product-modal__close-icon {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #f1cdb3;
  border-radius: 10rem;
  background-image: url('./img/Vector.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 8px;
  top: 0px;
  cursor: pointer;
}
@media (max-width: 819px) {
  .product-modal__close-icon {
    right: 8px;
  }
}
@media (max-width: 500px) {
  .product-modal__close-icon {
    right: 8px;
  }
}
.product-modal .product-modal__product-card {
  background-color: white;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  display: flex;
}
@media (max-width: 819px) {
  .product-modal .product-modal__product-card {
    width: 63rem;
  }
}
@media (max-width: 500px) {
  .product-modal .product-modal__product-card {
    width: 24rem;
  }
}

.product-modal__content {
  width: 26vw;
  height: 70vh;
}

.product-modal-swiper {
  width: 100%;
  height: 100%;
}
