@import './src/style/helper.scss';

.filter-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.filter-header__tag-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
