@import './src/style/helper.scss';

.card {
  width: 90%;
  margin-top: 4rem;
  margin-inline: auto;
  padding: 1rem;
  @include flex();
  flex-wrap: wrap;
  border-radius: 2rem;
  background: radial-gradient(circle, rgba(86, 207, 225, 0.5) 40%, rgba(166, 38, 38, 0.5) 90%);
}

.photo {
  position: relative;
  display: block;
  width: 35%;
  height: auto;
  margin: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  &__img {
    width: 100%;
    border-radius: 2rem;
  }

  &__figcaption {
    position: absolute;
    top: -1.5rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

.title {
  margin: 0.5rem;
  font-size: 2rem;
}

.description {
  &__wrap {
    @include flex();
    flex-grow: 1;
    flex-direction: column;
  }

  &__name {
    margin-top: 1rem;
    margin-inline: auto;
    font-size: 2rem;
    width: fit-content;
    transform: translateY(-3rem);
  }

  &__headline {
    margin: 0.5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  &__textContent {
    margin: 0.3rem;
    text-indent: 1rem;
    text-align: justify;
  }

  &__text {
  }
}
