@import './src/style/helper.scss';

.card {
  width: 90%;
  height: 30vh;
  margin-top: 4rem;
  margin-inline: auto;
  @include flex();
  border-radius: 1rem;
  background-color: $color-brand-primary;
}

.photo {
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  margin: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  &__figcaption {
    position: absolute;
    top: -1.5rem;
    width: 100%;
    //left: 0;
    font-size: 2rem;
    text-align: center;
  }
}

.description {
  &__wrap {
    width: 70%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $color-brand-secondary;
  }

  &__name {
    margin-top: 1rem;
    margin-inline: auto;
    font-size: 2rem;
    width: fit-content;
    transform: translateY(-3rem);
  }
}
