// @import '../../../styles/abstracts/variables.scss';

.header-view {
  display: flex;
  gap: 1rem;
  justify-content: end;
  padding: 1rem;
  z-index: 1;
}

.hide {
  display: none;
}

.show {
  display: block;
}
