@import '../../../../style/abstract/variables/colors.scss';

.catalog-view {
  background: url('../../../../assets/images/catalog.jpg') no-repeat top center;
  background-size: cover;
  width: 100%;

  .controls-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    @media (max-width: 550px) {
      justify-content: center;
    }
  }
}
